*, 
*::before, 
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }
  
  body {
	margin: 0;
	padding: 0;
	background: grey;
	min-height: 100%;
	height: 100%;
	color: white;
  }
  
  #root {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	color: #e6e6e6;
  }

.App {
  font-size: 1.6rem;
  font-family: sans-serif;
  width: 300px;
  background-color: darkgray;
  height: 100vh;
}

.file-explorer {
  font-size: 1.4rem;
}

.treeColumn {
  /* padding-left: 3rem; */
}

.folder {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  overflow-x: hidden;
}
.folder:hover {
      background-color: rgba(55, 147, 224, 0.25);
  }

  .folder:hover .folder--function {
      opacity: 1;
  }

  .folder > span {
      /* margin: 0 5px; */
      padding-left: calc(1rem - 2px);
      border-right: 2px solid transparent;
      min-height: 28px;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      white-space: nowrap;
  }

  .folder > div > button {
      font-size: 15px;
      background-color: white;
  }

  .folder--function {
      display: flex;
      flex-flow: row nowrap;
      opacity: 0;
  

  }
  
  .folder:hover {
    background-color: rgba(55, 147, 224, 0.25);
}

.folder > div {
    padding-left: 1rem;
}


/*
TODO: inputをinputcontainerの領域いっぱいまで広げるようにする
TODO: そのうえで.inputContainer--validSignの配置場所を指定する

*/

.inputContainer {
  display: block;
  position: relative;
  padding-left: calc(1rem - 2px);
}

.inputContainer > span {
  margin-top: 5px;
}

.inputContainer--column {
  display: flex;
  gap: 5px;
}

.inputContainer--input {
  /* margin: 6px 0 0px 0; */
  margin: 0;
  padding: 0px;
  border: 1px solid lightgray;
  cursor: pointer;
  /* paneいっぱいまで幅をとる */
  width: 100%;
  /* NOTE: 
    heightを指定すると
    border-boxを指定しても
    inputが親領域いっぱいに拡がってくれない 
  */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.inputContainer--input:focus {
  outline: none;
}

.inputContainer--input:focus.__valid {
  border: 1px solid cyan;
}

.inputContainer--input:focus.__invalid {
  border: 1px solid red;
}


.inputContainer--validSign {
  width: calc(100% - 2.7rem);
  position: absolute;
  left: 2.7rem;
}

.inputContainer--validSign.__invalid {
    background-color: red;
    opacity: 0.1;
}

.inputContainer--validSign.__valid {
    background-color: cyan;
    opacity: 0.1;
}


.file {
  display: flex;
  justify-content: space-between;
}

.file:hover {
  background-color: rgba(55, 147, 224, 0.25);
}

.file:hover .file--function {
  opacity: 1;
}

.file > span {
  white-space: nowrap;
}

.file--function {
  margin: auto 0;
  opacity: 0;
}

.file--name {
  padding-left: calc(1rem - 2px);
  display: flex;
  flex-direction: column;
}


.flex-break {
  flex-basis: 100%;
  height: 0;
}
