.tabs-area {
    background-color: rgb(21, 21, 21);
    --title-border-bottom-color: rgb(52, 52, 52);
    overflow: hidden;
    font-size: 14px;
};

.tab {
    line-height: 1.4rem;
    box-sizing: border-box;
    color: #999;
    padding: 0 8px;
    border: 1px solid rgb(52, 52, 52);
    border-bottom: 0;
    cursor: pointer;
    float: left;

    &.active {
        color: #ce9178;;
        border-top: 1px solid #136ab5;
        background-color: #1e1e1e;
    }
}


.monaco-editor {
    height: 100%;
};